click==6.6
elasticsearch==2.3.0
Flask==0.11.1
gevent==1.1.2
greenlet==0.4.10
gunicorn==19.6.0
itsdangerous==0.24
Jinja2==2.8
MarkupSafe==0.23
numpy==1.22.0
pandas==0.18.1
python-dateutil==2.5.3
pytz==2016.6.1
pyxley==0.0.9
six==1.10.0
urllib3==1.16
Werkzeug==0.11.10
